body{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;

    margin: 0;
    padding: 0;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
}


.container{
    background-color: rgb(239, 248, 255);
}

.titulo{
    font-size: xx-large;
    font-family:cursive;
    font-weight: bold;
}

.titulo-2{
    font-size: large;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family:cursive;
    font-weight: bold;
}