body {
    background-color: rgb(222, 222, 222);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#top {
    height: 20px;
}

.web {
    background-color: white;
    border-radius: 25px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

img {
    width: 100%;
}

h1 {
    letter-spacing: 10px;
    text-align: center;
    color: rgb(131, 171, 42);
}

#sierra {
    color: rgb(179, 135, 32);
}

.container {
    width: 100%;
    background-color: white;
    border-radius: 40px;
    clear: both;
    /* Evita problemas de flotación */
}

.menu {
    float: left;
    width: 20%;
}

.texto {
    float: right;
    width: 80%;
    padding: 70px;
    border: 1px solid rgb(170, 166, 166);
    box-sizing: border-box;
    background-color: rgba(130, 144, 144, 0.267);

}

h2 {
    clear: right;
    color: green;
}

hr {
    margin-top: -20px;
    margin-bottom: 30px;
    color: black;
    clear: both;
}

p {
    margin-bottom: 20px;
}

.inicio{
    background-color: rgb(236, 255, 127);
    padding: 10px 40px 10px 30px;
    margin-right: 40%;
}
.especies{
    background-color: rgb(236, 255, 127);
    padding: 10px 40px 10px 30px;
    margin-right: 40%;
}
.reservas{
    background-color: rgb(236, 255, 127);
    padding: 50%;
    margin-right: 40%;
}

footer {
    color: lightgray;
    padding: 10px;
    text-align: center;
    clear: both;
}

/*la página tendrá un
ancho fijo de 900px, centrada en
la ventana.*/

/*
La imagen que aparece en el encabezado de la página, la hemos creado a partir de la imagen
panoramica.jpg, que puedes encontrar en la carpeta del drive.*/
/*
Esta imagen es propiedad de AMagill, un usuario de Flickr, y se utiliza bajo licencia
CreativeCommons. Observa que lo indicamos al pie de la página.
Las imágenes que forman parte del diseño, las hemos creado nosotros. Observa que las
esquinas del body son redondeadas, que el contenido tiene un degradado arriba y abajo, y
los elementos del menú. Tendrás que crear esas imágenes.
*Reto 10
*/
