body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    margin: 0;
    padding: 0;


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-principal {
    width: 900px;
    padding: 0.5em;
    margin: 0;
    background-color: rgb(222, 222, 222);

}


.header {
    padding-top: 2em;
    width: 100%;
}

img {
    width: 100%;
}

.container {
    background-color: white;
    border-radius: 25px;
}



.titulo-1 {
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    color: rgb(131, 171, 42);
}

#sierra {
    color: rgb(179, 135, 32);
}

.container-2 {
    display: flex;
    padding: 0.5em;
    width: 100%;
    border-radius: 40px;
}

.menu {
    padding: 0.5em;
    width: 20%;
}
.titulo-2 {
    font-size: x-large;
    font-weight: bold;
    color: rgb(131, 171, 42);
    margin-top: 1em;
}
.titulo-3 {
    color: rgb(192, 145, 70);
}

.textos {
    padding: 0.5em;
    width: 75%;
    border: 1px solid rgb(170, 166, 166);
    box-sizing: border-box;

    background: linear-gradient(0deg,
            rgb(214, 214, 214) 0%,
            white 8%,
            white 93%,
            rgb(214, 214, 214) 100%);
    
}



hr {
    color: black;
}

#texto {
    margin-bottom: 20px;
}
#espacio{
    width: 100%;
    height: 1em;
}
.menu {
    margin-right: 0.5em;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(81, 59, 21);
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,
            rgb(209, 189, 157) 1%,
            white 90%,
            white 10%);
    padding: 0.7em;
    margin-bottom: 1em;
    border: 1px solid rgb(0, 0, 0);

}


.especies,
.reservas,
.galeria {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,
            rgb(131, 171, 42) 1%,
            white 90%,
            white 10%);
    padding: 0.7em;
    border: 1px solid rgb(131, 171, 42);
}

.especies-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,
            rgb(209, 189, 157) 1%,
            white 90%,
            white 10%);
    padding: 0.7em;
    margin-bottom: 1em;
    border: 1px solid rgb(0, 0, 0);

}


.inicio-2{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,
            rgb(131, 171, 42) 1%,
            white 90%,
            white 10%);
    padding: 0.7em;
    border: 1px solid rgb(131, 171, 42);
}

.footer {
    color: lightgray;
    padding: 0.5em;
    text-align: center;
    font-size: small;
}